<!-- ======= views/blog.erb ======= -->

<div id="blog_posts">
    <% puts "\n******* do loop (each_with_index) *******" %>
    <% @posts.each_with_index do |post, index| %>
        <% puts "** post/index: #{post}: #{index}" %>
        <p> <%= post[:title] %> </p>
        <p> <%= post[:content] %> </p>
    <%end%>
</div>
