<!-- ======= views/menu.erb ======= -->

<!-- == dynamically create menu items == -->

<div id="menu">
    <% menu_items_array = [ "home", "profile", "post", "blog", "feed" ] %>
    <div id="menu_items">
      <% for z in menu_items_array %>
      <% h = z %>
        <% if z == "home" %>
            <% h = "home" %>
            <% z = "/" %>
        <% end %>
        <a href = <%= z %>>
          <div class="menu_item"> <%= h %></div>
        </a>
      <% end %>
    </div>
</div>
